@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
     margin: 0;
     padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

.page-not{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.page-not h1{
    margin-top: 100px;
    letter-spacing: 1px;
    font-weight: 500;
}

.page-not button{
    margin-top: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 12px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: orangered;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.core{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
}

.title{
    width: 100%;
    height: 50px;
     background-color: rgb(34, 34, 34);
     text-align: center;
     font-size: 34px;
     font-weight: 500;
     letter-spacing: 3px;
     padding: 15px;
     color: #ff5100;
     position: fixed;
     top: 0;
}

.content{
    margin-top: 80px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.user-card{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
.user-main-card{
    width: 420px;
    min-height: 400px;
    background-color: #202020;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 40px;
    border-radius: 7px;
    box-shadow: 10px 10px 20px;
}
.user-main-card > h1{
    font-size: 37px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: justify;
    padding-left: 20px;
    color: #ff0062;
}
.user-main-card > p{
    padding-left: 20px;
    font-size: 19px;
    font-weight: 400;
    margin: 10px;
    text-align: justify;
    color: #b6b6b6;
    letter-spacing: 1px;
}
.contact{
    margin: 10px;
    padding: 10px;
}
.contact > h3{
   letter-spacing: 2px;
   font-weight: 400;
   font-size: 22px;
   color: #ff0062;
}
.contact > p{
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    margin: 14px;
    letter-spacing: 1px;
    padding-left: 14px;
    color: #b6b6b6;
}
.user-card-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-edit, .btn-delete, .btn-view{
    width: 114px;
    padding: 14px;
    font-size: 17px;
    font-weight: 550;
    letter-spacing: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(0, 255, 234, 0.856);
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-edit:hover{
    box-shadow: 8px 8px 14px;
    transition: all 0.3s ease-in
}
.btn-view:hover{
    box-shadow: 8px 8px 14px;
    transition: all 0.3s ease-in
}
.btn-delete:hover{
    box-shadow: 8px 8px 14px;
    transition: all 0.3s ease-in
}
.create-user{
     padding: 12px;
     font-size: 21px;
     font-weight: bold;
     letter-spacing: 2px;
     cursor: pointer;
     position: fixed;
     top: 13px;
     left: 30px;
     color: rgb(255, 72, 0);
}

/** Create A User */
.create-a-user{
    width: 100%;
    height: 100vh;
    background-color: rgb(39, 38, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.from{
    width: 560px;
    height: 530px;
    background-color: #1d1c1c;
    border-top: 5px solid rgb(2, 252, 156);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 10px 10px 20px;
}
.input-filed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    position: relative;
}
.input-filed > input{
    width: 100%;
    padding: 10px 14px 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(248, 80, 2);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    background-color: transparent;
    color: #eeecec;
}
.from > h1{
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: #ff0062;
}
.Add{
  padding: 10px;
  width: 160px;
  font-size: 17px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  background-color: #ff0062;
  border-radius: 5px;
  margin-top: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b6b6b6;
  cursor: pointer;
}
.Add > span{
     font-size: 22px;
     margin-right: 18px;
     color: #b6b6b6;
}
.input-filed > p{
     font-size: 20px;
     font-weight: 400;
     position: absolute;
     top: 365px;
     left: 36px;
     color: #ff0062;
     cursor: pointer;
     letter-spacing: 1px;
     text-decoration: underline;
     text-underline-offset: 5px;
}
.input-filed > p:hover{
    color: #cccaca;
}
.input-filed > input::placeholder{
    letter-spacing: 1px;
    color: rgb(175, 175, 175);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.Add:hover{
     box-shadow: 4px 4px 10px black;
}
.input-filed > p > span{
    margin-right: 5px;
    font-size: 20px;
}

/** USER PROFILE */
.profile{
     width: 100%;
     height: 100vh;
     background-color: #272727;
     display: flex;
     justify-content: center;
     align-items: center;
}
.user-profile-card-left{
    width: 70px;
    height: 460px;
    border-radius: 3px;
    box-shadow: 10px 10px 20px;
    background-color: rgb(32, 32, 32);
    position: relative;
    left: 270px;
}
.user-profile-card-right{
    width: 70px;
    height: 460px;
    border-radius: 3px;
    box-shadow: 10px 10px 20px;
    position: absolute;
    right: 550px;
    background-color: rgb(36, 36, 36);
}
.profile-card{
    width: 540px;
    height: 400px;
    box-sizing: border-box;
    background-color: #1f1e1e;
    box-shadow: 10px 10px 20px;
    border-radius: 3px;
    padding: 20px 20px;
    position: absolute;
    left: 40px;
    top: 30px;
}
.profile-card > h1{
     font-size: 36px;
     letter-spacing: 3px;
     font-weight: 400;
     padding: 4px 20px;
    color: #ff0062;
}
.profile-card > p{
    margin: 18px;
    padding-left: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
    color: rgb(160, 158, 158);
}
.profile-content{
     margin: 26px 20px;
}
.profile-content > h3{
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ff0062;
    margin-bottom: 30px;
}
.profile-content > p{
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 18px;
    margin-left: 30px;
    font-weight: 500;
    color: rgb(160, 158, 158);
}
.profile-content > h4{
    margin-top: 28px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #ff4800;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
    display: inline-block;
}
.profile-content > h4:hover{
    color: rgb(160, 158, 159);
}
.profile > h1{
   color: #fff;
   position: fixed;
   top: 20px;
   padding: 10px;
   letter-spacing: 3px;
   font-weight: 500;
   color: #ff5100;
}